
@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    background-color: darkred;
}

img {
    width: 100vw;
}

a {
    color: white;
    display: block;
    background-color: darkred;
    padding: 20px 20px 25px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}