@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

body {
    background-color: darkred;
}

a {
    display: block;
    color: white;
    background-color: darkred;
    padding: 20px 20px 25px 20px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;

}