@charset "UTF-8";

* {
margin: 0px;
padding: 0px;
}

body {
background-color: darkred;
}

::-webkit-scrollbar {
width: 0px;
height: 0px;
}

img {
width: 100vw;
}

a {
display: block;
color: white;
text-decoration: none;
text-align: center;
background-color: darkred;
padding: 20px 20px 25px 20px;
}

a:hover {
    transition-duration: 0.3s;
text-shadow: 1px 1px 5px white;
}