@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../../imagens/fundo-madeira.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

section#telefone {
    background: url(../../imagens/frame-iphone.png) no-repeat;
    height: 625px;
    width: 310px;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}

iframe#itela {
    position: absolute;
    top: 80px;
    left: 22px;

    width: 267px;
    height: 470px;
}

section#redes-sociais {
    text-align: center;
}

section#redes-sociais img {
    margin: 10px;
    border-radius: 50%;

    width: 50px;

    position: relative;
    transition: top 0.4s ease;
    top: 0;
}

section#redes-sociais img:hover {
    box-sizing: border-box;
    top: 10px;
    border: 1px solid white;

}